#CUSTOM

**/venv
.env
notes.txt
**/models/*
**/db

**/media/*
/.vscode

__pycache__/

*.h5

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
**/build

**/node_modules
bower_components

### vscode ###
**/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# redis
*.rdb
